@media screen and (max-width: 1200px) {
    .stock-orange {
        position: static;
        margin-top: 20px;
    }

    .label-course {
        margin-top: 50px;
    }

    .header-stock-text {
        width: auto;
    }

    .section-header-block {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .useful-inner {
        flex-direction: column;
        margin-top: 80px;
    }

    .order-list {
        flex-wrap: wrap;
    }

    .step-right {
        display: none;
    }

    .useful-col-right {
        width: 100%;
        margin-top: 40px;
    }

    .consists-list {
        flex-wrap: wrap;
    }

    .consists-list-item {
        width: 100%;
    }

    .main-header {
        padding-top: 0;
    }

    .header-container {
        padding: 0 10px;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .header-stock {
        margin-top: 20px;
        font-size: 23px;
    }

    .main-header .container {
        padding: 0;
    }
    .section-header-block {
        width: 100%;
        font-size: 17px;
    }


    .header-block-title {
        padding: 10px 0;
        font-size: 40px;
    }

    .main-header .section-container-header {
        border-radius: 0;
        flex-direction: column;
    }

    .main-header .section-header-block:last-child {
        border-radius: 0;
        width: 100%;
        padding: 10px 0;
    }

    .header-col {
        height: auto;
    }

    .advantage-list {
        flex-direction: column;
    }

    .advantage-item {
        width: 100%;
        text-align: left;
    }

    .header-stock-text {
        max-width: 220px;
        line-height: 30px;
    }

    .stock-orange {
        font-size: 23px;
        padding: 3px 10px;
        position: absolute;
        right: -42%;
        bottom: -9px;
    
    }

    .header-col-right-wrapper {
        width: 100%;
    }

    .label-course {
        width: 262px;
        text-align: center;
        margin: 0 auto;
        font-size: 25px;
        margin-top: 55px;
    }

    .action-offer-price {
        font-size: 23px;
        padding: 10px 33px;
    }

    .main-header .action-offer {
        margin-top: 15px;
    }

    .action-offer-discount {
        font-size: 17px;
        margin-top: 8px;
    }
    

    .order-btn {
        font-size: 27px;
        width: 280px;
    }

    .header-col-left {
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .main-header .flacon-sale {
        width: 132px;
        height: 132px;
    }

    .main-header .flacon-sale-text {
        font-size: 17px;
        top: 10px;
        left: 31px;
        background-color: transparent;
    }

    .section-action .flacon-sale {
        width: 132px;
        height: 132px;
    }

    .section-action .flacon-sale-text {
        font-size: 17px;
        top: 10px;
        left: 31px;
        background-color: transparent;
    }

    .stop-drinking-btn {
        background-color: #000;
        color: #fff;
    }


    .useful-price {
        display: none;
    }

    .useful-desc {
        display: none;
    }


    .useful-col-left-m {
        display: flex;
    }

    .useful-col-left {
        flex-direction: row;
    }

    .useful-list {
        flex-direction: column;
    }

    .useful-list-img {
        margin: 0;
        margin-right: 20px;
    }

    .useful-list-item-desc {
        text-align: left;
    }
    .useful-list-item {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .useful-main-img {
        width: 130px;
        height: 128px;
    }

    .useful-second-img {
        width: 83px;
        height: 168px;
    }

    .useful-second-img img {
        width: 100%;
    }

    .useful-main-img img {
        width: 100%;
    }

    .order-list-item {
        width: 50%;
        margin-bottom: 35px;
    }

    .order-list-desc {
        margin-top: 30px;
    }

    .section-title-center {
        display: none;
    }

    .section-action .container{
        padding: 0;
    }

    .section-container-header {
        border-radius: 0;
    }


    .section-container-header {
        display: flex;
        flex-direction: column;
    }


    .section-header-block:last-child {
        width: 100%;
        border-radius: 0;
        padding: 10px 0;
    }

    .sub-action-container {
        display: none;
    }

    .action-container-main {
        flex-direction: column;
    }

    .action-container-col {
        width: 100%;
    }

    .action-title {
        font-size: 30px;
    }

    .action-from {
        border-radius: 0;
    }

    .action-sale {
        display: none;
    }


    .section-action .flacon-sale .mini-flacon{
        transform: rotate(-26deg);
        margin-right: -11px;
        z-index: 10;
        margin-top: 20px;
        position: relative;
        width: 46%;
    }
    
    
    .section-action .flacon-sale .big-flacon{
        transform: rotate(18deg);
        position: relative;
        z-index: 1;
        width: 59%;
        margin-top: -73px;
    }

    .flacon-sale-m {
        display: flex;
    }

    .section-action {
        background: none;
    }

    .action-container-col:first-child {
        background: url(../images/action/background.png) no-repeat;
        min-height: 339px;
        background-size: cover;
    }

    .action-title {
        margin-top: 30px;
    }

    .action-offer {
        margin-top: 10px;
    }

    .action-from-input {
        font-size: 20px;
        height: 54px;
    }

    .action-from {
        padding: 62px 57px;
    }

    .action-from-submit {
        margin-top: 30px;
    }

    .action-from-submit {
        padding: 20px 0;
        color: #E5B454;
        background: #000;
        height: auto;
    }
    .action-from p {
        text-align: center;
    }

    .feedback-item {
        height: auto;
    }
    

    .footer {
        padding: 130px 0 317px 0;
    }
    .footer-top {
        font-size: 20px;
        font-family: 'DIN Consered';
    }

    .footer-bottom {
        font-size: 15px;
    }

    .section-order-title-m {
        display: block;
    }


    .main-header {
        min-height: 375px;
    }

    .advantage-item {
        font-size: 16px;
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
    }




    .advantage-item::before{
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background-color: #E5B454;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 3px;
     }


}


@media screen and (max-width: 414px) {
    .header-col-left {
        margin-left: -9px;
        margin-bottom: -36px;
    }

    .label-course {
        margin: 0;
        margin-top: 50px;
    }

    .header-container {
        overflow: visible;
    }

    .header-col {
        padding-bottom: 0;
    }

    .header-col-right-wrapper {
        max-width: 320px;
        margin: 0 auto;
    }

    .action-offer {
        max-width: 262px;
    }

     .advantage {
        padding-top: 25px;
    }

    .act {
        font-size: 30px;
    }


     .timer-inner {
         border: none;
         height: 160px;
     }

     .timer-btn {
         max-width: 250px;
         font-size: 27px;
     }

     .btn-control {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #E5B454;
        display: flex;
        align-items: center;
        justify-content: center;
     }

     .btn-control img {
         width: 50%;
     }

     .slider-container {
         width: 100%;
         padding: 0 20px;
     }

     .customNextBtn {
        position: absolute;
        right: 16px;
        z-index: 10;
     }

     .customPrevBtn {
         position: absolute;
         left: 13px;
         z-index: 10;
     }

     .countdown {
         max-width: 250px;
     }

     .countdown-time {
         font-size: 35px;
         width: 50px;
         height: 50px;
     }


    .advantage-desc p {
        display: inline-block;
        font-size: 15px;
    }

    .consists {
        padding: 16px 0 60px 0;
    }

    .section-title {
        font-size: 30px;
    }

    .consists-list-title {
        font-size: 20px;
    }

    .consists-list-desc {
        margin-top: 20px;
    }

    .consists-list-item {
        margin-bottom: 30px;
    }

    .drugs {
        padding: 3px 0;
    }

    .order-btn {
        top: -37px;
        height: 75px;
    }

    .drugs .container {
        margin-top: 50px;
    }

    .drugs-list {
        margin-top: 38px;
    }

    .stop-drinking {
        border-top: 2px solid #000;
    }

    .stop-drinking .container {
        position: relative;
    }

    .stop-drinkingp-col-left {
        width: 100%;
    }

    .stop-drinking-inner {
        flex-direction: column;
    }

    .stop-drinking .section-title {
        display: none;
    }

    .section-title-m {
        display: block;
    }

    .overlay-stop-drinking {
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .stop-drinkingp-col-right {
        width: 100%;
    }

    .stop-drinkingp-col-right p {
        text-align: justify;
    }

    .stop-drinking-badge {
        display: flex;
    }

    .stop-drinkingp-col-left > p {
        display: none;
    }

    .container {
        padding: 0 25px;
    }


    .order-list-img {
        width: 100px;
        height: 100px; 
    }

    .order-list-img img {
        width: 59px;
    }

    .section-feedback .container {
        padding: 0;
    }

    /* .caroulel-title {

    } */

    .feedback-item {
        border: 2px solid #E5B454;
    }




}

@media screen and (max-width: 330px) {

    .stock-orange {
        position: static;
    }

    

    
} 

